${BASE}

# CN: CommonName
# OU: OrganizationalUnit
# O: Organization
# L: Locality
# S: StateOrProvinceName
# C: CountryName

[ req_distinguished_name ]
#O  = Vagrant
#C  = UN
#CN = ${SSL_HOST} Root CA
countryName = UN
stateOrProvinceName = "U"
localityName = "Internet"
organizationName = Vagrant
organizationalUnitName = Developers
commonName = ${SSL_HOST} Root CA
emailAddress = rootcertificate@${SSL_HOST}.${SSL_DOMAIN}
